.categoryCard {
    width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 40px;


}

.categoryTitle {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 30px;
    margin-bottom: 20px;
}

.categoryImage {
    width: 50px;
    height: 50px;

    border-radius: 50px;
    border: #5B5B5B solid 15px;
}

.categoryName {
    width: 179.075px;
    height: 27px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border-radius: 50px;
    background: #C8C8C8;

}

.subcategories {
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex-wrap: wrap;
}

.subcategory {
    display: flex;
    color: #000;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border-radius: 50px;
    background: #F1F1F1;
    width: 258.438px;
    height: 13px;
    flex-wrap: wrap;
    padding-left: 20px;

}