.questionBlock {
    width: 600px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 12px;
    border: 2px solid #E8E8E8;
    gap: 30px;

}
.searchPanel {
margin-left: 20px;
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
}
.searchPanel input {
    outline: none;
    border: none;
    width: 90px;
    height: 13px;
    border-radius: 50px;
    background: #E8E8E8;
}
.arrow {
margin-right: 20px;
}