.city {
    border-radius: 50px;
    background: #C8C8C8;
    color: #000;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 255px;
    height: 13px;
    padding-left: 30px;
}