

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    height: 86px;
    width: 1440px
}

.linksBlock {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;

}

.logo {
    color: #5B5B5B;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.links {
    display: flex;
    gap: 30px;
    align-items: center;
    list-style: none;
    color: #FFF;
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.links li {
    background-color: #5B5B5B;
    padding: 1px 30px;
    border-radius: 20px;
    color: #E8E8E8;
    cursor: pointer;
}

.links li a {
    text-decoration: none;
    color: #E8E8E8;
}

.headerButtons {
    display: flex;
    gap: 20px;
    color: #FFF;
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

}

.loginButton {
    background-color: #5B5B5B;
    padding: 1px 20px;
    border-radius: 20px;
    color: #E8E8E8;
    cursor: pointer;
}

.buttonBusiness {
    width: 132px;
    height: 40px;
    flex-shrink: 0;
    position: relative;
}

.buttonBusiness img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.buttonText {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000;
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    top: 35%
}


