

.loginForm {
    width: 100%;
    display: flex;
    flex-direction: column;
    font-family: Inter;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
}

.form {
    width: 320px;
    display: flex;
    gap: 10px;
    flex-direction: column;
    font-family: Inter;
    margin-bottom: 40px;

}

.loginForm h2 {
    width: 320px;
    height: 30px;
    flex-shrink: 0;
    border-radius: 50px;
    background: #5B5B5B;
    text-align: center;
    color: #E8E8E8;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

.loginForm a {
    text-decoration: none;
    color: #000;
    cursor: pointer;
}

.formButton {
    display: flex;
    align-items: center;
    justify-content: center;
}

.form button {
    margin-top: 20px;
    width: 200px;
    height: 40px;
    border-radius: 50px;
    border: none;
    outline: none;
    background: #5B5B5B;
    color: white;
    cursor: pointer;
}

.form label {
    font-size: 14px;
}

.form input {
    width: 320px;
    background: #d5d5d5;
    height: 30px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border: none;
}

.form input[placeholder] {
    font-size: 12px;
    color: #8f8d8d;
    padding-left: 20px;
}

.form input:focus {
    outline: black;
    border: black 1px solid;
}

.links a {
    background: #5B5B5B;
    padding: 10px;
    border-radius: 50px;
    color: #E8E8E8;
    cursor: pointer;
}
.noAcc {
    margin-bottom: 20px;
    padding-left: 18px;
    font-size: 14px;
}